
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5DA7DB;
}
div{
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: 4em;
    color: #fff;
    overflow: hidden;
}
h2{
    font-size: 40px;
  }
p{
    font-size: 30px;
}
div::before{
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #5DA7DB 5%, #5DA7DB 100% );
    animation: animate 10s linear forwards;
}
@keyframes animate{
    0%{
        left: -20%;
    }
    50%{
        left: 120%;
    }
    80%{
        left: 0%;
    }
}